* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-container {
  background: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
  /* background: ; */
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #f8f8f8;
  border-radius: 30px;
  font-size: 1rem;
  background: #f5f5f5;
}

button {
  width: 100%;
  padding: 1rem;
  background-color: #648286;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: #83a7ac;
  /* make smooth transform */
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1.05);
  color: white;
}

p {
  text-align: center;
  margin-top: 1rem;
}

a {
  color: rgb(130, 159, 163);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* for logo */
.logo-container {
  text-align: center;
  margin-bottom: 1.5rem;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}
