<nav class="navbar fixed-top navbar-expand-lg navbar-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/products">
      <img src="user/images/penjualan oleh-oleh.png" alt="" />
      TokoKu
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/products">
            <i class="fas fa-box-open me-1"></i>
            Produk
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <i class="fas fa-shopping-cart me-1"></i>
            Keranjang
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transactions">
            <i class="fas fa-history me-1"></i>
            riwayat transaksi
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">
            <i class="fas fa-user me-1"></i>
            Profil
          </a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-dark ms-3" id="logoutBtn">
            <i class="fas fa-sign-out-alt me-1"></i>
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
