<nav class="navbar navbar-expand-lg navbar-light bg-warning shadow-sm">
  <div class="container-fluid">
    <a class="fas fa-cart-shopping navbar-brand" href="/admin/dashboard">
      <i class="fas me-2"></i>admin dashboard
    </a>
    <div class="d-flex align-items-center">
      <!-- <span class="text-white me-3" id="adminName"></span> -->
      <button class="btn btn-outline-light" id="logoutBtn">
        <i class="fas fa-sign-out-alt me-1"></i> Logout
      </button>
    </div>
  </div>
</nav>
